@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');

@font-face {
  font-family: 'Faculty Glyphic';
  src: url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}