---
const pageTitle = "About Tangents";
const identity = {
    firstName: "Seeamul",
    country: "United States",
    occupation: "Artist/Designer/Developer",
    hobbies: ["Art", "Design", "Coding", "Reading", "Music Production", "Gaming", 
    "Cooking","Learning", "Movies", "Filmmaking", "Photography", "Philosophy", "Psychology"]
}

const skills = ["HTML", "CSS", "C", "C#", "Python", "JavaScript", "Video Editing", "Photo Editing", "Fine Art", "Graphic Design", "Cooking"]
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{pageTitle}</title>
      </head>
    <body>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <h1>What is Tangents?</h1>
        <p> 
            Tangents is a share my thoughts and ideas, explore interesting topics, and document all the projects I will be working on.</br>
            
        </p>
    </body>
</html>