---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';

const pageTitle = "About Tangents";
const identity = {
    firstName: "Seeamul",
    country: "United States",
    occupation: "Artist/Designer/Developer",
    hobbies: ["Art", "Design", "Coding", "Reading", "Music Production", "Gaming", 
    "Cooking","Learning", "Movies", "Filmmaking", "Photography", "Philosophy", "Psychology"]
}

const skills = ["HTML", "CSS", "C", "C#", "Python", "JavaScript", "Video Editing", "Photo Editing", "Fine Art", "Graphic Design", "Cooking"]
const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width"/>
        <title>{pageTitle}</title>
        <style define:vars={{skillColor, fontWeight, textCase} }>
            h1 {
                color: greenyellow;
                font-size: 4rem;
            }
            .skill {
                color: var(--skillColor);
                font-weight: var(--fontWeight);
                text-transform: var(--textCase);
            }
        </style>
    </head>
    <body>
        <Navigation />
        <h1>About Me</h1>
        <p> 
            My name is {identity.firstName} and I am learning Astro to build my personal website.
            {happy && <p>I am happy to be learning Astro!</p>}
            {finished && <p>I finished this tutorial!</p>}
            {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
            <p>My Skills are:</p>
            <ul>
                {skills.map((skill) => <li class="skill">{skill}</li>)}
            </ul>
        </p>
    </body>
</html>