<body>
    <a href="/">Home</a>
    <h1>What is Tangents?</h1>
    <p> 
        Tangents is a share my thoughts and ideas, explore interesting topics, and document all the projects I will be working on.</br>
    </p>
</body>