---
import { ClientRouter } from 'astro:transitions';
import BlogPost from '../components/BlogPost.astro';
---

<html>
  <head>
    <title>Blog</title>
    <ClientRouter/>
    <style>
      .logo {
        width: 300px;
        height: auto;
        padding-top: 10px;

      }
      body {
        background-color: #f9f3e4;
      }
    </style>
  </head>
  <body>
    <img src="/Tangents Logo (release) v1.0.svg" alt="Tangents Logo Version 1.0" class="logo" transition:name="tangents-logo">
    <hr style="border: 2px solid black; margin: 20px 0;">
    <p>This is where I will post my blog posts.</p>
    <BlogPost url="/src/pages/Blogposts/Making Tangents.md" title="Making Tangents"/>
  </body>
</html>