---
const pageTitle = "Tangents";
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout pageTitle={pageTitle}>
	<img src="/File_000.png" alt="Tangents Logo" />	
	<p>
		This is the first test version of the Tangents website. It is built with Astro.
		<br>
		<br>
		This is a test version and the website is not yet complete. 
	</p>
</BaseLayout>
