---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<img src="/public/File_000.png" alt="Tangents Logo" />	
		<p> This is the first test version of the Tangents website. It is built with Astro. It is a work in progress.
			<br>
			<br>
			Please note that this is a test version and the website is not yet complete.
			<br>
			<br>
		</p>
	</body>
</html>
