---
import Button from '../components/Button.astro';
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tangents</title>
        <link href="https://fonts.googleapis.com/css2?family=Jersey+M54&display=swap" rel="stylesheet">
        <style>
            .logo {
                width: 1000px;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                object-position: center;
            }
            body {
                background-color: #e0f39d;
            }

        </style>
    </head>
    <body>
        <img src="/Tangents Logo (release) v1.0.svg" alt="Tangents Logo Version 1.0" class="logo">
        <Button class="fixed bottom-5 right-5 text-5xl p-4 hover:bg-[#b1cc4f] rounded-lg" style="font-family: 'Faculty Glyphic', sans-serif;" onclick="window.location.href='/blog'">BLOG</Button>
        <Button class="fixed top-5 right-5 text-5xl p-4 hover:bg-[#b1cc4f] rounded-lg" style="font-family: 'Faculty Glyphic', sans-serif;" onclick="window.location.href='/about'">Portfolio</Button>
    </body>
</html>