---
import Social from './Social.astro';
---
<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
    a {
        padding: 0.5rem 1rem;
        color: white;
        background-color: #bc9541;
        text-decoration: none;
    }
</style>
<footer>
    <Social platform="github" username="SeeamulK" tld="com"/>
    <Social platform="instagram" username="seeamulkhan" tld="com"/>
    <a href="http://bsky.app/profile/seeamulkhan.bsky.social">Bluesky</a>
</footer>

